*{
	margin:0;
	padding:0;
}

#navBar{
background-color: #0F52BA;
height:50px;
width: 100%;
overflow: none;
}

#bgColor{
  background-color:#f8f8ff;
}

#logoDiv{
  background-color:#03254c;
  height: 70px;
  width:100%;
  overflow: none;
  box-shadow: 3px 1px 3px;
  position:relative;
}

#lgo{
  margin-top:10px;
}

.ulBar li{
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-size: 15px;
  text-shadow: 3px 2px 0px rgba(0,0,0,0.3);
}

.ulBar a{
  text-decoration: none;
  color:#f8f8ff;
  font-family: candara;
}

.li_space{
  margin-right: 20px;
}

.ulBar a li:hover{
  color:#03254c;
	text-decoration: underline;
}