*{
	margin:0;
	padding:0;
}

#navBar{
background-color: #0F52BA;
height:50px;
width: 100%;
overflow: none;
}

#bgColor{
  background-color:#f8f8ff;
}

#logoDiv{
  background-color:#03254c;
  height: 70px;
  width:100%;
  overflow: none;
  box-shadow: 3px 1px 3px;
  position:relative;
}

#lgo{
  margin-top:10px;
}

.ulBar li{
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-size: 15px;
  text-shadow: 3px 2px 0px rgba(0,0,0,0.3);
}

.ulBar a{
  text-decoration: none;
  color:#f8f8ff;
  font-family: candara;
}

.li_space{
  margin-right: 20px;
}

.ulBar a li:hover{
  color:#03254c;
	text-decoration: underline;
}

.midContent{
  width: 60%;
  height: 60px;
  margin-top: 25px;
}

.fontstyle{
  font-family: Arial;
}

#leftFloat{
  float:left;
  margin-left: 20px;
  color:springgreen;
}

.parallax{
  background-image: url("img/recycling.jpg");
  width: 100%;
  height: 300px;
  margin-top: 20px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutDiv{
 width:60%;
 height:200px;
 opacity: 0.5;
 background-color: deepskyblue;
 margin-top: 25px;
 padding: 10%;
 border-style: outset;
}

.paraFont{
  padding-top: 140px;
  color: #f8f8ff;
  font-family: fantasy;
}

.imgCenter{
  width: 500px;
  height: auto;
  margin-top: 20px;
}

.hR{
  margin-top: 30px;
  margin-bottom: 30px;
}

.paragraph{
  font-family: Courier;
  }

.heading{
  font-family: courier;
}